@model IEnumerable<HospitalisOOAD.Models.Doktor>

@{
    ViewData["Title"] = "Index";
}

    <h2 style="height: 30px;"></h2>

<h4 align="center" style="background-color: #4ac5ce; font-size: xx-large;">DOKTORI</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kontaktTelefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odjel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kontaktTelefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.spol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Odjel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
