@model HospitalisOOAD.Models.Recept

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "_Layout2";
}


<h2 style="height: 30px;"></h2>

<div>
    <h4>Recept</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazivLijeka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nazivLijeka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.datumIzdavanja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.datumIzdavanja)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Korisnik.ID)                    <!--diskriminator-->
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Povratak u listu</a>
</div>
