@model IEnumerable<HospitalisOOAD.Models.Uputnica>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout2";
}


<h2 style="height: 30px;"></h2>

<h4 align="center" style="background-color: #4ac5ce; font-size: xx-large;">UPUTNICE</h4>
@using (Html.BeginForm("Index", "Uputnicas", FormMethod.Get))
{
    <div>
        <text>Korisnički pacijenta:</text>
        @Html.TextBox("search")

        <input type="submit" value="Pretraga" />
    </div>

}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.svrha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.odrediste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumIzdavanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odjel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.svrha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.odrediste)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datumIzdavanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Odjel)                  <!--diskriminator-->
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Uređivanje</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Brisanje</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a style="background-color: #000000;" href="~/Pacijents/Index">Lista pacijenata</a>
</div>
